<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    <title>main화면</title>
</head>

<body>

    <nav>
        <div class="logo">
            <button class="main logout-btn">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
            </button>
        </div>
        <div class="main links">
            <a href="#" class="active">About</a>
            <a href="#">Project</a>
            <a href="#">Contact Me</a>
        </div>
    </nav>

    <div class="main container">
        <div class="left">
            <h3>Junior Full Stack Developer</h3>
            <div class="info">
                <h2>안녕하세요 임승택입니다.</h2>
                <p>안녕하세요, 웹 서비스 구현 전반을 경험하며 백엔드 중심으로 성장하고 있는 신입 개발자입니다.</p>
                <div class="btn">
                    <button class="hire" onclick="openmodal()">
                        Personal Infomation <i class="fa-solid fa-plus"></i>
                    </button>
                    <button class="email" onclick="copyEmail()">
                        Copy Email <i class="fa-solid fa-copy"></i>
                    </button>
                </div>
                <div id="myModal" class="modal">
                    <div class="main modal-content">
                        <span class="close" onclick="closeModal()">&times;</span>
                        <h2>Personal Information</h2>
                        <p>
                            <strong>Name :</strong> 임승택 (Seungtaek Lim)
                        </p>
                        <p>
                            <strong>Gender :</strong> male
                        </p>
                        <p>
                            <strong>Date of Birth :</strong> December 17, 1995
                        </p>
                        <p>
                            <strong>Address :</strong> 서울 특별시 참숯1길 19 e편한세상 501동 202호
                        </p>
                        <p>
                            <strong>Phone :</strong> 010 - 5175 - 8893
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <a href="#" class="main online"><i class="fa-solid fa-circle"></i>Available For Job</a>
            <img src="/images/IMG_0318-1.jpg" alt="">
        </div>
    </div>

    <div class="works">
        <div class="main left">
            <h3>
                <i class="fa-solid fa-circle"></i> Education and Degrees
            </h3>
            <div class="works-list">
                <div class="item">
                    <div class="works-info">
                        <h5 class="active">서울 IT 아카데미 홍대</h5>
                        <p>2024 - 2024</p>
                    </div>
                    <p>엘라스틱 서치를 활용한 빅데이터-자바 융합 개발</p>
                </div>

                <div class="item">
                    <div class="works-info">
                        <h5>복무</h5>
                        <p>2016 - 2018</p>
                    </div>
                    <p>전역</p>
                </div>
                <div class="item">
                    <div class="works-info">
                        <h5>부산 과학 기술 대학교(건축과)</h5>
                        <p>2014 - 2020</p>
                    </div>
                    <p>전문학사 졸업</p>
                </div>
                <div class="item">
                    <div class="works-info">
                        <h5>마산 제일 고등학교</h5>
                        <p>2011 - 2014</p>
                    </div>
                    <p>졸업</p>
                </div>
            </div>
        </div>

        <div class="right">
            <div class="main item">
                <a href="https://tmdxor2848.tistory.com/18" target="_blank">Stack</a>
                <p>
                    Oracle Database, Java 프로그래밍 언어(JDK), Eclipse IDE, Visual Studio Code, Node.js(Express), MySQL,
                    JavaScript(ES6), HTML/CSS, bcrypt, Git/GitHub, 의사소통
                </p>
            </div>
            <div class="main item">
                <a href="#">수상 경력(Awards and Honors)</a>
                <p>사단장 표창(최우수 훈련병) - 육군 제39보병사단</p>
            </div>
            <div class="main item">
                <a href="#">수상 경력(Awards and Honors)</a>
                <p>시의장 표창 - 관악구 배드민턴 협회</p>
            </div>
            <div class="main item">
                <a href="#">수상 경력(Awards and Honors)</a>
                <p>센터장 표창(우수 활동자) - 사회연수센터장</p>
            </div>

            <div class="main item">
                <a href="#">자격증</a>
                <p>1종보통운전면허 - 경상남도경찰청</p>
                <p>경비보안 신임 이수 - 한국경비협회</p>
                <p>SQL 개발자 - 한국데이터산업진흥원장</p>
            </div>

        </div>
    </div>

    <footer class="main">
        <a href="#">My Portfolio</a>
        <div class="socials">
            <a href="https://github.com/tmdxor2848" target="_blank">GitHub</a>
            <a href="https://www.instagram.com/tmdxor2848/" target="_blank">Instagram</a>
            <a href="https://tmdxor2848.tistory.com" target="_blank">T Story</a>
        </div>
        <a href="#" class="online"><i class="fa-solid fa-circle"></i>Available For Job</a>
    </footer>

    <script>
        function openmodal() {
            document.getElementById('myModal').style.display = "block";
        }
        function closeModal() {
            document.getElementById('myModal').style.display = "none";
        }

        window.onclick = function (event) {
            if (event.target == document.getElementById('myModal')) {
                document.getElementById('myModal').style.display = "none";
            }
        }

        function copyEmail() {
            const email = 'tmdxor2848@gmail.com';
            const textarea = document.createElement('textarea');
            textarea.value = email;
            document.body.appendChild(textarea);
            textarea.select();
            document.execCommand('copy');
            document.body.removeChild(textarea);
            alert('이메일을 복사했습니다. : ' + email)
        }
    </script>
</body>

</html>