<!DOCTYPE html>
<html lang="0L24qKOMKfzBL3pGMHvWjHEtLaUT0Pm8UE2a3ZM0JzGNp2WLOwLAPk8Ix1uEZ1SnXmh6jpsYuWZ3LVgIN1B">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Project</title>
  <link rel="stylesheet" href="/css/project.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
</head>

<body>

  <nav>
    <div class="logo">
      <button class="main logout-btn">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
      </button>
    </div>
    <div class="main links">
      <a href="/main">About</a>
      <a href="/project" class="active">Project</a>
      <a href="#">Contact Me</a>
    </div>
  </nav>
  <div class="container">
    <div class="main item">
      <a href="https://tmdxor2848.tistory.com/18" target="_blank">Stack</a>
      <p>
        Oracle Database, Java 프로그래밍 언어(JDK), Eclipse IDE, Visual Studio Code, Node.js(Express), MySQL,
        JavaScript(ES6), HTML/CSS, bcrypt, Git/GitHub, 의사소통
      </p>
    </div>
    <div class="main item">
      <a href="#">수상 경력(Awards and Honors)</a>
      <p>사단장 표창(최우수 훈련병) - 육군 제39보병사단</p>
    </div>
    <div class="main item">
      <a href="#">수상 경력(Awards and Honors)</a>
      <p>시의장 표창 - 관악구 배드민턴 협회</p>
    </div>
    <div class="main item">
      <a href="#">수상 경력(Awards and Honors)</a>
      <p>센터장 표창(우수 활동자) - 사회연수센터장</p>
    </div>

    <div class="main item">
      <a href="#">자격증</a>
      <p>1종보통운전면허 - 경상남도경찰청</p>
      <p>경비보안 신임 이수 - 한국경비협회</p>
      <p>SQL 개발자 - 한국데이터산업진흥원장</p>
    </div>
    <div class="main item">
      <a href="#">자격증</a>
      <p>1종보통운전면허 - 경상남도경찰청</p>
      <p>경비보안 신임 이수 - 한국경비협회</p>
      <p>SQL 개발자 - 한국데이터산업진흥원장</p>
    </div>
    <div class="main item">
      <a href="#">자격증</a>
      <p>1종보통운전면허 - 경상남도경찰청</p>
      <p>경비보안 신임 이수 - 한국경비협회</p>
      <p>SQL 개발자 - 한국데이터산업진흥원장</p>
    </div>
    <div class="main item">
      <a href="#">자격증</a>
      <p>1종보통운전면허 - 경상남도경찰청</p>
      <p>경비보안 신임 이수 - 한국경비협회</p>
      <p>SQL 개발자 - 한국데이터산업진흥원장</p>
    </div>


  </div>


  <footer class="main">
    <a href="#">My Portfolio</a>
    <div class="socials">
      <a href="https://github.com/tmdxor2848" target="_blank">GitHub</a>
      <a href="https://www.instagram.com/tmdxor2848/" target="_blank">Instagram</a>
      <a href="https://tmdxor2848.tistory.com" target="_blank">T Story</a>
    </div>
    <a href="#" class="online"><i class="fa-solid fa-circle"></i>Available For Job</a>
  </footer>

</body>

</html>