<!DOCTYPE html>
<html lang="0L24qKOMKfzBL3pGMHvWjHEtLaUT0Pm8UE2a3ZM0JzGNp2WLOwLAPk8Ix1uEZ1SnXmh6jpsYuWZ3LVgIN1B">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Project</title>
  <link rel="stylesheet" href="/css/project.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
</head>

<body>

  <nav>
    <div class="logo">
      <button class="main logout-btn">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
      </button>
    </div>
    <div class="main links">
      <a href="/main">About</a>
      <a href="/project" class="active">Project</a>
      <a href="#">Contact Me</a>
    </div>
  </nav>
  <div class="container">
    <div class="project-card">
      <div class="preview-box">
        <video src="/images/order-button.mp4" autoplay muted loop playsinline></video>
      </div>

      <div class="project-info">
        <h2>Order Button</h2>
        <p>
          주문 완료 과정을 택배 트럭 애니메이션으로 표현한 인터랙티브 버튼입니다.
          CSS 변수와 GSAP를 활용해 버튼 클릭 시 박스 적재, 트럭 이동, 주문 완료 상태 전환이 자연스럽게 이어지도록 구현했습니다.
        </p>

        <div class="project-tags">
          <span>HTML</span>
          <span>CSS</span>
          <span>JavaScript</span>
          <span>GSAP</span>
        </div>

        <a href="/order_btn" target="_blank" class="project-btn">프로젝트 보기</a>
      </div>
    </div>
    <div class="project-card">
      <div class="preview-box">
        <img src="/images/lego.png" alt="">
      </div>

      <div class="project-info">
        <h2>LEGO STORE</h2>
        <p>
          LEGO 상품 카드 UI를 제작하고, 썸네일 이미지 선택 시 메인 이미지가 변경되는 쇼핑몰형 인터랙션을 구현했습니다.
        </p>

        <div class="project-tags">
          <span>HTML</span>
          <span>CSS</span>
          <span>JavaScript</span>
        </div>

        <a href="/lego" target="_blank" class="project-btn">프로젝트 보기</a>
      </div>
    </div>


  </div>


  <footer class="main">
    <a href="#">My Portfolio</a>
    <div class="socials">
      <a href="https://github.com/tmdxor2848" target="_blank">GitHub</a>
      <a href="https://www.instagram.com/tmdxor2848/" target="_blank">Instagram</a>
      <a href="https://tmdxor2848.tistory.com" target="_blank">T Story</a>
    </div>
    <a href="#" class="online"><i class="fa-solid fa-circle"></i>Available For Job</a>
  </footer>

</body>

</html>