* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0e5ec;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 50%;
    height: 50%;
    text-align: center;
    gap: 15px;
    background: #e0e5ec;
    border-radius: 20px;
    box-shadow: 10px 10px 20px #a3b1c6, -10px -10px 20px #ffffff;
}

h1 {
    color: #41464e;
    margin-bottom: 20px;
}

p{
    color: #6d7582;
    margin-bottom: 50px;
    background: #e0e5ec;
    border-radius: 20px;
    box-shadow: 10px 10px 20px #a3b1c6, -10px -10px 20px #ffffff;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background: #e0e5ec;
    border-radius: 20px;
    box-shadow: 10px 10px 20px #a3b1c6, -10px -10px 20px #ffffff;
    padding: 5px 10px;
    font-size: 16px;
    color: #6d7582;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 30%;
    height: 50px;
}

button:active {
    box-shadow: inset 5px 5px 10px #a3b1c6, inset -5px -5px 10px #ffffff;
}

button:hover {
    transform: translateY(-2px);
}